.image-captcha{
    width: fit-content;
    border: 1px solid;
    padding: 10px;
}
.image-captcha .ic-title .selected-icon-name{
    color: var(--e-global-color-accent, #d10023);
    font-weight:500;
}
.image-captcha .ic-icons{
    display:flex;
    justify-content: center;
}
.image-captcha .ic-icons input{
    opacity:0;
}
.image-captcha .ic-icons label span{
	display: flex;
	cursor:pointer;
}
.image-captcha .ic-icons input:checked + span, .image-captcha .ic-icons label:hover span{
    border: 2px solid var(--e-global-color-accent, #d10023);
}
.image-captcha .ic-icons label {
    display: block;
    width: 38px;
    padding: 2px;
}
